version: '3.7'

services:
  nginx:
    image: {{ aws_ecr_registry}}/pipeline/nginx:24.1

  php:
    image: {{ aws_ecr_registry}}/pipeline/php7.1:24.3

  mysql:
    image: mysql:5.7

  node:
    image: {{ aws_ecr_registry}}/pipeline/node10:24.2

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.1.1

  redis:
    image: redis:4.0.10

  minio:
    image: {{ aws_ecr_registry}}/pipeline/minio:latest

  mailcatcher:
    image: schickling/mailcatcher

  selenoid:
    image: aerokube/selenoid:latest-release

  selenoid-ui:
    image: aerokube/selenoid-ui

  socket:
    image: {{ aws_ecr_registry}}/socket.tenantcloud.com:latest